:root {
    --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-mono: 'Fira Mono', monospace;
    font-family: var(--font-body);
    --primary: azure;
    --gray: rgb(103, 103, 103);
    --c1: orange;
    --darkprimary: rgb(4, 88, 131);
}